<main>
	<h1>User Profile</h1>

	<div>
		<%= image_tag current_user.avatar %>
	</div>

	<%= form_for @user do |f| %>

		<div class="form-field">

			<%= f.label :email %>
			<%= f.email_field :email %>
		</div>

		<div class="form-field">

			<%= f.label :avatar %>
			<%= f.file_field :avatar %>

		</div>

		<div class="form-field">
			<%= f.submit "Update Profile" %>
		</div>


	<% end %>


</main>



