<!DOCTYPE html>
<html>
<head>
  <title>Socialchemy </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <script src="
https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" %>
</head>
<body>

	<header id="body-header">
		<div class="logo animated bounce">
			<p>Socialchemy</p>
		</div>
		<nav>
			<ul>
				<% if user_signed_in? %>
				<li id="current_user_email"><%= current_user.email %></li>
				<li id="current_user_name"><%= current_user.name %></li>
				<li>
					<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
				</li>
				<% else %>
				<li>
					<%= link_to "Sign In", new_user_session_path %>
				</li>
				<li>
					<%= link_to "Sign Up", new_user_registration_path %>
				</li>
				<% end %>
			</ul>
		</nav>
	</header>

<%= yield %>

	<% if user_signed_in? %>
	<div id="user-chat-box">
		<ul id="chat-messages-list">
			<li class="other-message">
				<span>Other Message</span>
			</li>
			<li class="self-message">
				<span>
					Self Message
				</span>
				
			</li>

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message"><i class="fa fa-thumbs-up"></i></button>
		</div>

	</div>
	<% end %>


	<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" %>
	<script type="text/javascript">
		new WOW().init()
	</script>
</body>
</html>





